.element__like {
    background: transparent url(/images/heart.svg) no-repeat 50%;
    border: none;
    margin: 0;
    min-height: 19px;
    min-width: 22px;
    padding: 0;
    transition: all .4s ease-in-out;
}

.element__like:hover {
    opacity: 0.5;
    cursor: pointer;
  }